* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: rgb(240, 238, 238);
}



.container {
  width: 80%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

.header {
  height: 80px;
  background-color: rgb(35, 120, 248);
  width: 100%;
}

.here {
  margin-left: 500px;
  bottom: 88px;
  left: 65px;
  position: relative;
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  border: 0 solid black;
  width: 450px;
  height: 50px;
}

h3 {
  font-family: sans-serif;
  color: rgb(117, 111, 111);
  margin-right: 311px;
}

.h2 {
  margin-left: 250px;
  bottom: 44px;
  position: relative;
  color: white;
}

.img {
  width: 28px;
  height: 27px;
  margin-top: 17px;
  border-radius: 20%;
  padding: 10px;
  margin-left: 215px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/

.clear {
  clear: both;
}

.box {
  width: 350px;
  height: 200px;
  margin: 30px 3px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 4px 8px #555;
}

.box-text {
  text-align: center;
  margin-top: 80px;
  color: rgb(65, 60, 60);
}

.box-text p {
  margin-top: 16px;
}

.box-2 {
  width: 350px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 4px 8px #555;
  left: 365px;
  bottom: 70%;
  position: relative;
}

.box-3 {
  width: 350px;
  height: 200px;
  margin: 30px 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 4px 8px #555;
  left: 725px;
  bottom: 371px;
  position: relative;
}

.clear {
  clear: both;
}

/*----------------------------------------------------------------------------------------------------------*/
.location {
  margin: 40px 65px;
}

.joylashuv {
  width: 50%;
  float: left;
}

.joylashuv p {
  line-height: 24px;
  margin: 10px 10px 10px 0;
}

.joylashuv form input {
  width: 48%;
  margin: 5px 5px 5px 0;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #000;
  box-shadow: 2px 3px 6px #555;
}

.joylashuv form textarea {
  width: 565px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 5px 5px 0;
  padding: 15px;
  resize: none;
}

.clear {
  clear: both;
}

.joylashuv form button {
  width: 130px;
  height: 40px;
  background-color: blue;
  border: solid blue;
  color: white;
  border-radius: 5px;
  padding: 10px;

}

.joylashuv form button:hover {
  background-color: rgb(35, 120, 248);
  border: solid rgb(35, 120, 248);
  cursor: pointer;
}

.location_img {
  width: 50%;
  float: right;
}

.location_img img {
  width: 90%;
  height: 460px;


  position: relative;
}

.clear {
  clear: both;
}

.container-2 {
  background-color: rgb(35, 120, 248);

}

.letter {
  width: 30%;
  padding: 40px 0;
}

.letter h2 {
  color: white;
  font-size: 32px;
  margin-left: 100px;
}

.letter p {
  color: white;
  margin-left: 100px;
}

.for input {
  padding: 10px 10px 10px 10px;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  color: #555;
  float: right;
  right: 190px;
  bottom: 100px;
  position: relative;
}



.for button:hover {
  color: rgb(103, 151, 221);
  cursor: pointer;
}

.for button {
  float: right;
  padding: 15px 15px;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  bottom: 55px;
  position: relative;
  display: relative;
}

footer {
  width: 100%;
  background-color: rgb(85, 80, 80);
  height: 90px;
  margin-top: 50px;
  right: 150px;

}

.footer a {
  text-decoration: none;
  left: 550px;
  bottom: 70px;
  position: relative;
  font-size: 19px;
  color: white;
  margin: 12px;
  font-family: sans-serif;
}

.footer a:hover {
  color: rgb(35, 120, 248);
}

.last p {
  display: inline-block;
  margin: 2px 250px;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(148, 142, 142);
  bottom: 15px;
  position: relative;
}

.last span {
  color: rgb(65, 128, 221);
  margin: 10px;

}

.last img {
  display: inline-block;
  bottom: 10px;
  position: relative;
}

.link {
  right: 100px;
  position: relative;
}