body {
  background-color: lightslategray;
}

form {
  width: 350px;
  height: 450px;
  background-color: white;
  border: 3px solid black;
  margin: 65px 500px;
}

form h2 {
  margin: 17px 18px;
}

form input {
  width: 300px;
  height: 20px;
  margin: 10px 10px;
  padding: 10px;
  color: black;
}

.chek {
  right: 140px;
  position: relative;
}

.me {
  bottom: 30px;
  left: 40px;
  position: relative;
}

form button {
  width: 300px;
  padding: 13px;
  margin: 0 13px;
  background-color: rgb(64, 64, 233);
  color: white;
}

form button:hover {
  background-color: blue;
}

form p {
  margin: 20px 75px;
}

.but-2 {
  width: 300px;
  padding: 13px;
  margin: 0 13px;
  background-color: rgb(53, 48, 48);
  color: white;

}

.but-2:hover {
  background-color: black;
}