* {
  padding: 0;
  margin: 0;
}


body {
  background-color: lightgrey;
}

.header {
  height: 80px;
  background-color: rgb(35, 120, 248);
  width: 100%;
}



.img {
  /* width: 28px;*/
  height: 27px;
  text-align: center;
  border-radius: 50%;
  padding: 10px;
  vertical-align: top;
}

.h2-2 {
  bottom: 60px;
  position: relative;
  left: 215px;
  color: white;

}

form {
  width: 380px;
  height: 545px;
  background-color: white;
  border: 2px solid black;
  margin: 65px 500px;
}

form h2 {
  margin: 17px 18px;
}

form input {
  width: 330px;
  height: 20px;
  margin: 10px 10px;
  padding: 10px;
  background-color: black;
  color: white;
}

.chek {
  right: 140px;
  position: relative;
}

.me {
  bottom: 30px;
  left: 47px;
  position: relative;
}

form button {
  width: 340px;
  padding: 13px;
  margin: 0 13px;
  border: 1px solid rgb(64, 64, 233);
  background-color: rgb(64, 64, 233);
  color: white;
}

form button:hover {
  background-color: blue;
  border: 1px solid blue;

}

form p {
  margin: 20px 75px;
}

.but-2 {
  width: 340px;
  padding: 13px;
  margin: 0 13px;
  background-color: rgb(53, 48, 48);
  color: white;

}

.but-2:hover {
  background-color: black;
}

footer {
  width: 100%;
  background-color: rgb(85, 80, 80);
  height: 90px;
  margin-top: 50px;
  right: 150px;

}

.footer a {
  text-decoration: none;
  left: 550px;
  bottom: 80px;
  position: relative;
  font-size: 19px;
  color: white;
  margin: 12px;
  font-family: sans-serif;
}

.h2 {
  color: white;
  left: 220px;
  bottom: 50px;
  position: relative;
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  left: 160px;
  top: 10px;
  position: relative;
}

.footer a:hover {
  color: rgb(35, 120, 248);
}

.last p {
  display: inline-block;
  margin: 2px 250px;
  font-size: 20px;
  font-family: sans-serif;
  color: rgb(148, 142, 142);
  bottom: 35px;
  position: relative;
}

.last span {
  color: rgb(65, 128, 221);
  margin: 10px;

}

.last img {
  display: inline-block;
  bottom: 30px;
  position: relative;
}

.link {
  right: 90px;
  position: relative;
}